---
import ProjectItem from "./ProjectItem.astro";

import Work from '../../public/Projects/work.webp'
import Work2 from '../../public/Projects/work2.webp'
import Work3 from '../../public/Projects/work3.webp'
import Work4 from '../../public/Projects/work4.webp'
import Work5 from '../../public/Projects/work5.webp'

const Projects = [
    {
        title: "Portafolios",
        description: "Este proyecto es mi portafolio personal, diseñado para mostrar mis habilidades y trabajos anteriores.",
        link: "http://francisportfolio.dev",
        github: "https://github.com/francisportfolio/",
        image: Work,
    },
    {
        title: "Realtor",
        description: "Realtor es una plataforma web dedicada a la venta y alquiler de propiedades inmobiliarias.",
        link: "https://project-realstate.vercel.app/",
        github: "https://github.com/ingfranciscastillo/project-realstate",
        image: Work2,
    },
    {
        title: "ShareMe",
        description: "ShareMe es una plataforma de intercambio de imágenes inspirada en Pinterest.",
        github: "https://github.com/ingfranciscastillo/ShareMe-fm",
        link: "https://sharemefm.netlify.app/",
        image: Work3,
    },
    {
        title: "MCA Prime Logistics",
        description: "Esta plataforma web está diseñada para facilitar la gestión y el seguimiento del transporte de mercancía.",
        link: "https://mcaprimelogistics.com",
        image: Work4,
    },
    {
        title: "Mediweb",
        description: "Esta plataforma web está diseñada para proporcionar información accesible y práctica sobre primeros auxilios.",
        link: "https://vocal-kitten-8b76b5.netlify.app/",
        image: Work5,
    },
]

---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
        Projects.map(({title, description, image, link, github}) => (
            <ProjectItem title={title} description={description} image={image} link={link} github={github} />
        ) )
    }
</div>
