---

import GithubIcon from '@/icons/github.astro'
import ArrowUpRight from '@/icons/ArrowUpRight.astro'
import { Image } from 'astro:assets';

interface Props {
    image: ImageMetadata;
    title: string;
    description: string;
    link?: string;
    github?: string;
}

const { image, title, description, link, github } = Astro.props
---

<div class="relative group hover:cursor-pointer">
    <Image loading="lazy" class="h-auto max-w-full object-cover group-hover:brightness-75 transition duration-300" src={image} alt={title} />
    <div class="p-5 mx-auto w-full h-auto absolute bottom-0 left-0 invisible group-hover:visible opacity-0 group-hover:opacity-100 translate-y-full group-hover:translate-y-0 bg-zinc-950/70 transition-all duration-300">
        <h2 class="text-xl font-semibold" aria-label={title}> {title} </h2>
        <p class="text-lg mt-2" aria-label={description}> {description} </p>
        <div class="flex flex-1 justify-end items-center">
            <div class="flex gap-x-4">
                {
                    link ?
                    <a href={link} target="_blank" class="hover:text-[color:var(--yellow)] transition duration-300" aria-label="link">
                        <ArrowUpRight />
                    </a>
                    :
                    <a href=""></a>
                }
                {
                    github ? 
                    <a href={github} target="_blank" rel="noopener noreferrer" class="hover:text-[color:var(--yellow)] transition duration-300" aria-label="gh">
                    <GithubIcon class="size-6" />
                    </a>
                    :
                    <a href=""></a>
                }
            </div>
        </div>
    </div>
</div>